*{
    font-family: 'Baloo', cursive;
}

section#wrapper{
    background-color: purple
    
}

body{
    background-color: purple
}

.boxes {
    display: block;

}

.boxes {
    height: 90px;
    display: block;
    border: 1px solid blue;
    margin: 10px;
}

#right_section{
    display: inline-block
}

#left_section{
    display: inline-block
}
#top{
    position: relative;
    display: flex
}

#fas-fa-arrow-left{
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 50px;
    height: 50px;
    font-size:30px;
    text-shadow: 2px 2px red;
}

#cart {
    position: absolute;
    right: 0em;
    font-size: 30px;
    color:#87dc56;
    text-shadow: 2px 2px red;
}
h1{
    color: rgb(21, 245, 197);
    text-shadow: 2px 2px red;
    font-size: 30px;
    text-align: center;
}