*{
    font-family: 'Baloo', cursive;
}

section#wrapper{
    /* background-color: purple */
    
}

#cart {
    position: absolute;
    right: 0em;
    font-size: 30px;
    color:#87dc56;
    text-shadow: 2px 2px red;
}

body{
    /* background-color: purple */
    background-image: url(./background_burger.jpg);
    background-color: yellow;
    background-position: center;
    background-repeat: no-repeat;
}

.boxes {
    display: block;

}

.d-inline-block {
    display: inline-block;
}

.boxes {
    height: 90px;
    display: block;
    border: 1px solid blue;
    margin: 10px;
}


#top{
    position: relative;
    display: flex
}

#fas-fa-arrow-left{
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 50px;
    height: 30px;
    font-size:30px;
    text-shadow: 2px 2px red;
}

h1{
    color: rgb(21, 245, 197);
    text-shadow: 2px 2px red;
    font-size: 30px;
    text-align: center;
}

p{
    color: rgb(21, 245, 197);
    text-shadow: 2px 2px red;
}
#bottom_box{
/* not sure why so long */
        padding: 20px;
        background-color: green;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        margin: 10px;
    
}