

.product-removal {
    text-align: center;
    padding-top: 4.5%;
    float: left;
    /* display: inline-block; */
    width: 8%;
}
.product-image {
    float: left;
    margin-left: 2%;
    max-width: 20%;

}
.product-details {
    text-align: center;
    margin: 0;
    padding-top: 4.5%;
    float: left;
    width: 25%;
}

.product-quantity {
    text-align: center;
    padding-top: 4.5%;
    float: left;
    width: 32%;
}
.product-price {
    padding-top: 4.5%;
    float: left;
    width: 12%;
    text-align: right;
}

.product {
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 1px solid #eee;
    border-width: 1px 0px;
    border-left: 10px solid #eee;
    padding: 10px 0px;
}
.total {
    width: 100%;
    display: inline-block;
}
.total-item{
    float: right;
    width: 100%;
    margin: 5px 0;
}

.total-item .fee {
    float: left;
    width: 75%;
    text-align: right;
}

.total-item .value {
    float: right;
    width: 25%;
    text-align: right;
}

.total-item-total {
    font-weight: 900;
}

.checkout {
    float: right;
}

.float-right {
    float: right;
}

/* .delete{
    color: #dc3545;
    background: white
} */

.delete:hover{
    cursor: pointer;
    color: #f63b54;
    background: white
}

/* .delete:active{
    color: #ff0019;
    background: white
} */

.clear{
    clear: both;
}

.count-value {
    display: inline-block;
    width: 120px;
    border: 0 20px;
}
.text-center {
    text-align: center;
}

.no-item-in-cart {
    text-align: center;
    background-attachment: #eee;
    color: gray;
}
.cart-head {
    padding: 3% 0;
    text-align: center;
    color: black;
    font-size: 3rem;
}

select:disabled {
  color: gray;
}

.meal_split {
    /* float: right; */
    width: 100%;
    padding-left: 50%;
    margin: 5px 0;
    text-align: right;
}

.split-b {
  position: relative;
  /* left: 275px; */
  background: #28A745;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 75px;
  color: white;
}

.total-due {
  position: relative;
  display: inline-block;
  left: 10px;
  font-weight: bold;
}

.split-person-wrapper {

}

.split-name {
  position: relative;
  display: inline-block;
}

.split-total {
  position: relative;
  display: inline-block;
}

.user-note {
  position: relative;
  height: 35px;
}

.space {
  position: relative;
  height: 60px;
}
