*{
    font-family: 'Baloo', cursive;
}

section#wrapper{
    /* background-color: purple */
    
}


body {
    background-image: url("./Jim_Pizza.png");
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    background-color: orange;
   }

.boxes {
    display: block;

}

.boxes {
    height: 90px;
    display: block;
    border: 1px solid blue;
    margin: 10px;
}
p{
    color: rgb(21, 245, 197);
    text-shadow: 2px 2px red;
}

#right_section{
    display: inline-block
}

#left_section{
    display: inline-block
}

#fas-fa-arrow-left{
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 50px;
    height: 50px;
    font-size:30px;
    text-shadow: 2px 2px red;
}
#cart {
    position: absolute;
    right: 0em;
    font-size: 30px;
    color:#87dc56;
    text-shadow: 2px 2px red;
}
#top{
    position: relative;
    display: flex
}

header{
    text-align: center;
}
h1{
    color: rgb(21, 245, 197);
    text-shadow: 2px 2px red;
    font-size: 30px;
    text-align: center;
}